* {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
}

header {
  height: 50px;
  width: 100%;
  background-color: lightgrey;
}

nav {
  display: flex;
  padding-top: 12px;
}

nav ul {
  display: flex;
  width: 200px;
  justify-content: center;
  margin: 0 auto;
}

li {
  padding: 0 10px;
  width: 50px;
}

ul,
li {
  list-style: none;
}

.content {
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.login {
  display: flex;
  flex-direction: column;
}

footer {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
}
