.task-item-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.task-checkbox {
  width: 25px;
  display: flex;
}

.task-name,
.task-status {
  width: 200px;
}
