* {
  margin: 0;
  padding: 0;
}

.main {
  min-height: 100%;
  width: 100%;
}

header {
  height: 50px;
  width: 100%;
  background-color: lightgrey;
}

li {
  padding: 0 10px;
}

ul,
li {
  list-style: none;
}

h2 {
  padding-bottom: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
