.card-split {
  display: flex;
  justify-content: space-between;
  width: 500px;
  padding: 20px;
}

.card-title,
.form-group-btn {
  padding-left: 1.25rem;
}

.right-border {
  border-right: 1px solid grey;
  padding-right: 50px;
}

.left-border {
  padding-left: 50px;
}
